@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #1f2461;
}

.container header {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 60px;
  padding: 0.5rem 2rem;
  background-color: #373b69;
}

.container header input {
  padding: 0.5rem;
  /* font-size: 16px; */
  font-family: inherit;
  border-radius: 50px;
  background: #373b69;
  color: #fff;
  border: 1px solid #9d9eaa;
  outline: none;
  transition: all 0.2s linear;
  /* cursor: pointer; */
}

.container header input:active {
  outline: 0;
}

.container header input::placeholder {
  color: #fff;
  opacity: 0.7;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 0 0.3rem;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  background-color: #373b69;
  width: 250px;
  overflow: hidden;
  margin: 1rem;
  border: 1px solid #3a47a7;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s linear;
  position: relative;
}

.movie:hover {
  transform: scale(1.05);
}

.movie img {
  height: 350px;
  background-size: cover;
  width: 100%;
}
.movie-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  color: white;
}
.movie-info h5 {
  margin: 0;
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.movie-info .rating {
  background-color: #1f2461;
  padding: 0 0.3rem;
  border-radius: 3px;
}

.movie-overlay {
  background-color: #fff;
  color: #22254b;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  transform: translateY(103%);
  transition: all 0.5s ease-in-out;
  max-height: 100%;
  overflow: auto;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.4);
}

.movie:hover .movie-overlay {
  transform: translateY(0%);
}

.error, .loading {
  color: #fff;
  opacity: 0.8;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error span {
  color: red;
  margin-right: 10px;
}